@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-abyan-blue-50:  #eff8ff; /* Light Blue */
    --color-abyan-blue-100: #dff2ff;
    --color-abyan-blue-200: #b8e5ff;
    --color-abyan-blue-300: #78d1ff;
    --color-abyan-blue-400: #31bcff;
    --color-abyan-blue-500: #069ee8; /* Main Brand Color */
    --color-abyan-blue-600: #0084ce;
    --color-abyan-blue-700: #0069a7;
    --color-abyan-blue-800: #035889;  
    --color-abyan-blue-900: #094971;
    --color-abyan-blue-950: #062e4b; /* Dark Blue */

    --font-sans: 'Inter', sans-serif;

    --text-h1: 3rem; /* 48px */
    --text-h1--line-height: 1.2;
    --text-h1--letter-spacing: -0.02em;
    --text-h1--font-weight: 700;

    --text-h2: 2.25rem; /* 36px */
    --text-h2--line-height: 1.25;
    --text-h2--letter-spacing: -0.02em;
    --text-h2--font-weight: 700;

    --text-h3: 1.75rem; /* 28px */
    --text-h3--line-height: 1.3;
    --text-h3--letter-spacing: -0.01em;
    --text-h3--font-weight: 600;

    --text-h4: 1.375rem; /* 22px */
    --text-h4--line-height: 1.35;
    --text-h4--letter-spacing: -0.01em;
    --text-h4--font-weight: 600;

    --text-h5: 1.125rem; /* 18px */
    --text-h5--line-height: 1.4;
    --text-h5--letter-spacing: 0em;
    --text-h5--font-weight: 600;

    --text-h6: 1rem; /* 16px */
    --text-h6--line-height: 1.4;
    --text-h6--letter-spacing: 0.01em;
    --text-h6--font-weight: 600;

    --text-paragraph: 1rem; /* 16px */
    --text-paragraph--line-height: 1.6;
    --text-paragraph--letter-spacing: 0em;
    --text-paragraph--font-weight: 400;
}

@layer base {
    h1 {
        font-family: var(--font-sans);
        font-size: var(--text-h1);
        line-height: var(--text-h1--line-height);
        letter-spacing: var(--text-h1--letter-spacing);
        font-weight: var(--text-h1--font-weight);
    }
    h2 {
        font-family: var(--font-sans);
        font-size: var(--text-h2);
        line-height: var(--text-h2--line-height);
        letter-spacing: var(--text-h2--letter-spacing);
        font-weight: var(--text-h2--font-weight);
    }
    h3 {
        font-family: var(--font-sans);
        font-size: var(--text-h3);
        line-height: var(--text-h3--line-height);
        letter-spacing: var(--text-h3--letter-spacing);
        font-weight: var(--text-h3--font-weight);
    }
    h4 {
        font-family: var(--font-sans);
        font-size: var(--text-h4);
        line-height: var(--text-h4--line-height);
        letter-spacing: var(--text-h4--letter-spacing);
        font-weight: var(--text-h4--font-weight);
    }
    h5 {
        font-family: var(--font-sans);
        font-size: var(--text-h5);
        line-height: var(--text-h5--line-height);
        letter-spacing: var(--text-h5--letter-spacing);
        font-weight: var(--text-h5--font-weight);
    }
    h6 {
        font-family: var(--font-sans);
        font-size: var(--text-h6);
        line-height: var(--text-h6--line-height);
        letter-spacing: var(--text-h6--letter-spacing);
        font-weight: var(--text-h6--font-weight);
    }
    p {
        font-family: var(--font-sans);
        font-size: var(--text-paragraph);
        line-height: var(--text-paragraph--line-height);
        letter-spacing: var(--text-paragraph--letter-spacing);
        font-weight: var(--text-paragraph--font-weight);
    }
}