@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-abyan-blue-50:  #eff8ff; /* Light Blue */
    --color-abyan-blue-100: #dff2ff;
    --color-abyan-blue-200: #b8e5ff;
    --color-abyan-blue-300: #78d1ff;
    --color-abyan-blue-400: #31bcff;
    --color-abyan-blue-500: #069ee8; /* Main Brand Color */
    --color-abyan-blue-600: #0084ce;
    --color-abyan-blue-700: #0069a7;
    --color-abyan-blue-800: #035889;  
    --color-abyan-blue-900: #094971;
    --color-abyan-blue-950: #062e4b; /* Dark Blue */

    --color-abyan-white: #ffffff; 

    --color-abyan-muted: #4a6178; /* Muted Navy Blue, for text against white */

    --font-sans: 'Inter', sans-serif;
}

:root{
    --ui-primary: var(--color-abyan-blue-500);
    --ui-secondary: var(--color-abyan-white);
}
